{% extends "core/admin/baseAdmin.html" %}
{% load static %}

{% block content %}
   <div class="grid grid-cols-3 gap-4 p-3 place-content-center">
        <div class="col-span-2 gap-2">
            <div class="grid grid-cols-3 gap-4 ">
                <div class="w-[15em] h-[8em] bg-white rounded-lg drop-shadow-md flex justify-center items-center">
                    <a href="student">Student</a>
                </div>
                <div class="w-[15em] h-[8em] bg-white rounded-lg drop-shadow-md flex justify-center items-center">
                    <a href="instructor">Instructor</a>
                </div>
                <div class="w-[15em] h-[8em] bg-white rounded-lg drop-shadow-md flex justify-center items-center">
                    <a href="secretary">Secretary</a>
                </div>
            </div>
            <div class="w-[58em] h-[38em] bg-white rounded-lg drop-shadow-md">
                <div class="w-full h-full p-4" id="calendar"></div>
            </div>
        </div>
        <div>
            <div class="grid grid-cols-3 gap-4">
                <div class="col-span-2 w-[5em] h-[8em] bg-white rounded-lg drop-shadow-md flex justify-center items-center mb-5 me-">
                    <a href="planning">Planning</a>
                </div>
                <div class="w-[5em] h-[8em] bg-white rounded-lg drop-shadow-md flex justify-center items-center mb-5 me-">
                    <a href="forfait">Forfait</a>
                </div>
            </div>
            <div class="w-[25em] h-[38em] bg-white rounded-lg drop-shadow-md p-4 mt-5">
                <h1 class="mb-5">New</h1>
                <div class="w-[23em] h-[32em] border border-gray-700 bg-gray-200 rounded-lg">
                    <form class="p-6">
                        <div>
                            <div>
                                <label for="student">Student*</label>
                                <input id="student" type="text" class="block w-full px-4 py-2 mt-2 text-gray-700 rounded-full focus:outline-none">
                            </div>
        
                            <div class="mt-5">
                                <label for="instructor">Insctructor*</label>
                                <input id="instructor" type="text" class="block w-full px-4 py-2 mt-2 text-gray-700 rounded-full focus:outline-none">
                            </div>
                            <div class="mt-5">
                                <label for="date">Start Date*</label>
                                <input id="startDate" type="date" class="block w-full px-4 py-2 mt-2 text-gray-700 rounded-full focus:outline-none">
                            </div>
                            <div class="flex justify-around mt-20">
                                <button id="submit" class="px-6 py-2 leading-5 w-32 text-white transition-colors duration-200 transform bg-[#8E63AD] rounded-full hover:bg-[#FDC858] focus:outline-none focus:bg-gray-600">SUBMIT</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

