{% extends "core/admin/baseAdmin.html" %}
{% load static %}

{% block content %}
<div class=" p-6 place-content-center">
    <div class="">
        <div class="w-full h-[38em] bg-white rounded-lg drop-shadow-md p-5">
          <h1 class="mb-5">Planning</h1>
          <div class="w-full h-full">
                <table class="w-full border-collapse border border-slate-500 ...">
                    <thead>
                    <tr>
                        <th class="border border-slate-600">Date</th>
                        <th class="border border-slate-600">Horaire</th>
                        <th class="border border-slate-600">Student</th>
                        <th class="border border-slate-600">Instructor</th>
                        <th class="border border-slate-600">Durée</th>
                        <th class="border border-slate-600">ACTION</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                        </tr>
                        <tr>
                        </tr>
                        
                        <tr>
                        </tr>
                        
                        <tr>    
                        </tr>

                        <tr>    
                        </tr>
                        <tr>    
                        </tr>
                    </tbody>
                </table>
          </div>
        </div>
    </div>
 </div>
{% endblock %}
